@import "../../variables.scss";
@import "node_modules/bootstrap/scss/bootstrap";
@import "../../custom.scss";

.navbar {
	z-index: 3;
	position: relative;
}
.navbar-primary {
	box-shadow: 0 1px 10px rgba(0,0,0,0.3);
	z-index: 4;
}

.wipe {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.stat-list {
	.navbar-text {
		
	}
}