<div class="container p-2">
  <div class="sections" id="sections">
    <reader-segment *ngFor="let segment of segments"
      [segment]="segment">
    </reader-segment>
  </div>

  <div class="mt-4 choices" [@choiceAnimation]="choices.length">
    <div *ngIf="choices.length">
      <div class="btn-block">
        <reader-choice *ngFor="let choice of choices; let i = index" id="choice{{i}}"
          (selectChoice)="selectChoice(choice)"
          [selectedChoice]="selectedChoice"
          [choice]="choice">
        </reader-choice>
      </div>

      <button class="btn btn-block px-3 py-3 mt-0"
              *ngIf="choiceRequiresConfirmation"
              (click)="confirmChoice()"
              [attr.disabled]="selectedChoice ? null : true"
              [class.btn-secondary]="!selectedChoice"
              [class.btn-danger]="selectedChoice">
        {{selectedChoice ? "Next" : "Choose"}}
      </button>
    </div>
  </div>
</div>