<div class="content">
  <div [@segmentAnimation]="ink.segments.length">
    <p *ngFor="let segment of ink.segments">
      {{segment.text}}
    </p>
  </div>
  
  <div *ngIf="ink.choices.length" class="mt-5">
    <div class="btn-group-vertical btn-block">
      <reader-choice *ngFor="let choice of ink.choices"
        (selectChoice)="selectChoice(choice)"
        [isSelected]="selectedChoice===choice"
        [choice]="choice">
      </reader-choice>
    </div>
    <button class="btn btn-block px-3 py-2 mt-3" 
            (click)="confirmChoice()"
            [class.btn-secondary]="!selectedChoice"
            [class.btn-danger]="selectedChoice">
      {{selectedChoice ? "Next" : "Select a choice"}}
    </button>
  </div>
</div>