@import "../../../custom.scss";

$border-thickness: 1px;

.header {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.06rem;
    margin: 3rem 0;
    font-weight: lighter;
    position: relative;

    /*
    &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: calc(50% - 10px);
        transform: translate(-50%, -50%);
        border: solid 2px rgba(0,0,0,0.1);
        z-index: -1;
        border-radius: 50%;
        height: 300px;
        width: 300px;
    }
    */

    h1 {
        text-transform: uppercase;
        font-size: 2rem;
    }
    h1, h5 {
        font-weight: lighter;
    }
}
.choices {
    transition: max-height .35s ease-in-out, opacity .15s ease-in-out;
    margin-bottom: 30vh;

    .choice-header {
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.03rem;
        font-size: 1.5rem;
    }
}

.container {
    margin-bottom: 300px;
}
@media (max-width: 576px) {
    .header {
        margin: 2rem 0;
    }
    .container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        .section-container {
            flex-grow: 1;
        }
        .choices {
            margin-bottom: 65px;
        }
        /*
        .choices {
            min-height: unset;
            margin-bottom: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0.5rem;
            z-index: 9;
        }
        */
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 800px;
    }
}

@media (min-width: 768px) {
    .section-container {
        margin-top: 2rem;
    }
}    
@media (min-width: 576px) {
    .section-container {
        margin-top: 4rem;
    }
}
.sections {
    background-color: white;
    box-shadow: 0 0 0 1px $border-color;
    border-radius: $border-radius;
    margin: 1px;
    transform: scale(0.9);
    opacity: 0;
    transition: transform .35s ease-in-out, opacity .35s ease-in-out;
    &.active {
        opacity: 1;
        transform: none;
    }
}

.section {
    position: relative;
    transform-origin: top;
    box-sizing: content-box;

    p {
        margin: 0;
        + p {
            margin-top: 1rem;
        }
    }
    
    &:not(:first-child) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        .section-inner {
            border-top: dashed 1px #eee;
        }
    }

    &:not(:last-child) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &.choices {
        padding: 0;
    }
}