@import "../../../variables.scss";
@import "../../../../node_modules/bootstrap/scss/bootstrap";

$border-thickness: 1px;

.choices {
    transition: max-height .35s ease-in-out, opacity .15s ease-in-out;
    margin-bottom: 30vh;
}
@media (max-width: 576px) {
    .container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        .section-container {
            flex-grow: 1;
        }
        .choices {
            margin-bottom: 0;
        }
        /*
        .choices {
            min-height: unset;
            margin-bottom: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0.5rem;
            z-index: 9;
        }
        */
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 800px;
    }
}

@media (min-width: 768px) {
    .section-container {
        margin-top: 2rem;
    }
}    
@media (min-width: 576px) {
    .section-container {
        margin-top: 4rem;
    }
}
.sections {
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    border-radius: $border-radius;
}

/*
.sections {
    max-height: 0px;
    transition: max-height .35s ease-in-out;
}
*/

.section {
    position: relative;
    transform-origin: top;
    box-sizing: content-box;

    p {
        margin: 0;
        + p {
            margin-top: 1rem;
        }
    }
    
    &:not(:first-child) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        .section-inner {
            border-top: dashed 1px #eee;
        }
    }

    &:not(:last-child) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &.choices {
        padding: 0;
    }
}