@import "../custom.scss";

$border-thickness: 1px;

.outer-container {
    margin: 0 auto;
    margin-bottom: 100px;
    grid-template-rows: min-content;
    background-color: theme-color("base");

    display: grid;
    grid-row-gap: 1rem;

    @media (min-width: 576px) {
        margin-top: 2rem;
        @media (min-height: 600px) {
            margin-top: 10vh;
        }
    }
    @media (min-width: 992px) {
        max-width: 8.5in;
    }
}

.choice-container {
    box-shadow: 0 -30px theme-color("background");
    background-color: theme-color("background");
}

.segment-container {
    background-color: theme-color("base");
    border-radius: $border-radius;
    transform: scale(0.9);
    padding: calc(1in - 0.5rem) 0 1in 0;
    opacity: 0;
    transition: transform .35s ease-in-out, opacity .35s ease-in-out;
    &.active {
        opacity: 1;
        transform: none;
    }
    @media (max-width: 576px) {
        padding: calc(20px - 0.5rem) 0 20px 0;
    }
}

.choice-header {
    display: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 2.2rem 0 0.8rem 0;
    opacity: 0.7;
    font-size: 1em;
    font-family: $base-font;
    transition: opacity .7s ease-in-out, letter-spacing 1.5s ease-out;
    text-align: center;
}

.choices {
    transition: max-height .35s ease-in-out, opacity .15s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
}

:host.animating {
    .choices {
        box-shadow: none;
    }
    .choice-header {
        opacity: 0;
        letter-spacing: 0.02em;
    }
}