<scroll-indicator [scrollTarget]="scrollEnd"></scroll-indicator>

<div class="outer-container" [style.minHeight]="minHeight + 'px'">
  <div class="segment-container" #sections [class.active]="segments">
    <reader-segment *ngFor="let segment of segments; trackBy: id; let last = last"
      [segment]="segment"
      id="{{last ? 'latest' : null}}">
    </reader-segment>
  </div>
  
  <div class="choice-container" [@choiceAnimation]="segmentLength">
    <h1 class="choice-header">Choose</h1>

    <div class="choices" *ngIf="choices && choices.length">
      <reader-choice *ngFor="let choice of choices; trackBy: text; let i = index" id="choice{{i}}"
        (selectChoice)="selectChoice(choice)"
        [selectedChoice]="selectedChoice"
        [choice]="choice">
      </reader-choice>

      <button class="btn btn-block px-3 py-3 mt-0"
              *ngIf="choiceRequiresConfirmation"
              (click)="confirmChoice()"
              [attr.disabled]="selectedChoice ? null : true"
              [class.btn-secondary]="!selectedChoice"
              [class.btn-danger]="selectedChoice">
        {{selectedChoice ? "Next" : "Choose"}}
      </button>
    </div>
  </div>
</div>
