<div class="scroll-indicator" [class.active]="!scrolledPast && !isScrolling" (click)="clickScrollIndicator()"></div>

<div class="container" [style.minHeight]="minHeight + 'px'">
  <div class="section-container">
    <div class="sections" #sections [class.active]="segments">
      <reader-segment *ngFor="let segment of segments; let last = last"
        [segment]="segment"
        id="{{last ? 'latest' : null}}">
      </reader-segment>
    </div>
  </div>
  
  <div class="choice-container" [@choiceAnimation]="segmentLength">
    <h1>Choose</h1>

    <div class="choices" *ngIf="choices && choices.length">
      <reader-choice *ngFor="let choice of choices; let i = index" id="choice{{i}}"
        (selectChoice)="selectChoice(choice)"
        [selectedChoice]="selectedChoice"
        [choice]="choice">
      </reader-choice>

      <button class="btn btn-block px-3 py-3 mt-0"
              *ngIf="choiceRequiresConfirmation"
              (click)="confirmChoice()"
              [attr.disabled]="selectedChoice ? null : true"
              [class.btn-secondary]="!selectedChoice"
              [class.btn-danger]="selectedChoice">
        {{selectedChoice ? "Next" : "Choose"}}
      </button>
    </div>
  </div>
</div>
