
<div [@listAnimation]="ink.segments.length">
  <p *ngFor="let segment of ink.segments">
    {{segment.text}}
  </p>      
</div>

<div *ngIf="ink.choices.length" class="mt-5">
  <div class="btn-group-vertical btn-block">
    <button class="btn btn-outline-secondary py-2 btn-choice" tabindex="0" (click)="selectChoice(choice)"
        *ngFor="let choice of ink.choices" [class.active]="selectedChoice === choice"
        [attr.disabled]="choiceIsDisabled(choice) ? true : null">
      <div class="row align-items-center">
        <div class="col">
          <span class="choice-unlocked">{{choice.index+1}}.</span>
          <span class="choice-locked fa fa-lock"></span>
          {{choice.text}}
        </div>
        <div class="col-sm-auto">
          <div class="small" *ngFor="let d of choice.metadata">
            <div *ngIf="d.type=='requirement'">
              Need {{d.value}} {{d.variableName|pluralize:d.value}} (have {{getValue(d.variableName)}})
            </div>
            <div *ngIf="d.type=='cost'">
              Costs {{d.value}} {{d.variableName|pluralize:d.value}} (have {{getValue(d.variableName)}})
            </div>
          </div>  
        </div>        
      </div>
    </button>
  </div>  
</div>