@import "../../custom.scss";

$tab-width: $horizontal-space * 2 - 2rem;

:host {
    width: 100%;
    transition: top .8s ease-in-out;
    position: relative;
    display: block;
}

.btn {
    white-space: normal;
    width: 100%;
    background-color: theme-color("base");
    color: rgba(color-yiq(theme-color("base")),0.95);
    border-radius: $border-radius;
    text-align: left;
    top: 0;
    right: 0;
    position: relative;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border: solid 1px transparent;
    transition: transform .25s ease-in-out, box-shadow .25s ease-in-out, background-color .35s ease-in-out;
    font-family: $prose-font;
    font-size: $desktop-font-size;
    line-height: 1.4em;
    padding: 1.25rem;
    padding-left: calc(#{$horizontal-space} - 1.5rem);
    padding-right: $horizontal-space;

    @media (max-width: 576px) {
        border: solid 1px transparent;
        padding: 0.9rem;
        padding-left: $horizontal-space-mobile;
        padding-right: $horizontal-space-mobile;
        font-size: $mobile-font-size;
        line-height: 1.3em;
    }

    &:before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: -1px;
        width: $tab-width;
        opacity: 1;
        transition: background-color .15s ease-in-out;
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
    }
    &:after {
        content: '\f054';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        font-size: 1.3rem;
        line-height: 0;
        color: color-yiq(theme-color("base"));
        opacity: 1;
        right: calc(#{$tab-width} / 2);
        top: 50%;
        transform: translate(50%,-50%);
    }

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0,0,0,0.14);
        border: solid 1px transparent;
        color: rgba(color-yiq(theme-color("base")),0.95);
        background-color: darken(theme-color("base"), 2);
    }
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(theme-color("muted"), 0.45) !important;
        z-index: 1;
    }

    &.declined {
        position: relative;
        pointer-events: none;
        transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
        transform: translateX(400px);
        opacity: 0;
    }

    &.locked, &:disabled, &.disabled {
        opacity: 1;
        background-color: #ddd;
        border-color: #ddd;
        color: #888;
        &:after {
            content: '\f023';
        }

        .choice-locked {
            display: inline-block;
        }

        .choice-unlocked {
            display: none;
        }
    }

    &.selected {
        visibility: hidden;
        position: relative;
        box-shadow: none;

        .choice-unlocked {
            display: none;
        }
        
        .choice-locked {
            display: none;
        }

        .choice-selected {
            display: inline-block;
        }
    }
}

.choice-locked,
.choice-unlocked,
.choice-selected {
    display: none;
    margin-right: 0.5rem;
    min-width: 1.2rem;
    text-align: center;
}

.choice-unlocked {
    display: inline-block;
}

.choice-metadata {
    text-align: right;
    font-family: "Roboto", sans-serif;
    @media (max-width: 576px) {
        text-align: left;
    }
}

.choice-index {
    color: rgba(color-yiq(theme-color("base")),0.4);
    display: inline-block;
    font-size: 1rem;
    min-width: 1.5rem;
}

@media (max-width: 576px) {
    .choice-metadata {
        text-align: left;
    }
}
