:host {
    width: 100%;
}

.btn {
    text-align: left;
    white-space: normal;
    width: 100%;

    .choice-locked,
    .choice-unlocked {
        min-width: 1rem;
        display: inline-block;
        text-align: center;
        margin-right: 0.5rem;
    }

    .choice-locked {
        display: none;
    }

    &:disabled {        
        .choice-locked {
            display: inline-block;
        }

        .choice-unlocked {
            display: none;
        }
    }

    .choice-metadata {
        text-align: right;
    }
}

@media (max-width: 576px) {
    .btn {
        .choice-metadata {
            text-align: left;
            padding-left: 2.75rem;
        }
    }
}
