<button class="btn p-0"
    [class.selected]="isSelected"
    [class.declined]="selectedChoice && selectedChoice !== choice"
    [attr.disabled]="isDisabled ? true : null"
    [class.btn-light]="!isSelected"
    (click)="onClick()">
  
  <div class="content px-4 py-3">
    <div class="row align-items-center">
      <div class="col">
        <!--
        <span class="choice-selected fa fa-check"></span>
        <span class="choice-unlocked">{{choice.index+1}}.</span>
        <span class="choice-locked fa fa-lock"></span>
        -->
        {{choice.text}}
      </div>
      <div class="col-sm-auto choice-metadata">
        <div class="small" *ngFor="let d of choice.metadata">
          <div *ngIf="d.type=='requirement'">
            Need {{d.value}} {{d.variableName|pluralize:d.value}} (have {{getValue(d.variableName)}})
          </div>
          <div *ngIf="d.type=='cost'">
            Costs {{d.value}} {{d.variableName|pluralize:d.value}} (have {{getValue(d.variableName)}})
          </div>
        </div>
      </div>
    </div>
  </div>
</button>