@import "../../../../custom.scss";

:host {
    font-family: "Roboto Slab", serif;
    width: 100%;
    transition: top .8s ease-in-out;
    position: relative;
    display: block;

    &:not(:first-child) {
        margin-top: -1px;
        .btn {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
    &:not(:last-child) {
        .btn {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

.btn {
    white-space: normal;
    width: 100%;
    background-color: white;
    border-width: 1px;
    border-radius: $border-radius;
    border-color: $border-color;
    text-align: left;

    @media (min-width: 576px) {
        position: relative;
    }

    .content {
        margin-left: 0.5rem;
        padding-left: 1.2rem;
        padding-right: 1.5rem;
        transition: margin-left .15s ease-in-out;
    }
    
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0.5rem;
        border: solid 1px $border-color;
        background-color: theme-color("primary");
        transition: background-color .15s ease-in-out;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
        @media (min-width: 576px) {
            left: -1px;
            top: -1px;
            bottom: -1px;
        }
    }
    &:focus {
        @media (min-width: 576px) {
            box-shadow: 0 0 0 0.2rem rgba(theme-color("primary"), 0.2);
            z-index: 1;
        }
    }
    &:hover, &:active {
        &:before {
            background-color: darken(theme-color("primary"), 17);
        }
    }

    top: 0;
    right: 0;

    &.declined {
        position: relative;
        pointer-events: none;
        transition: opacity 0.7s ease-in-out, right 0.7s ease-in-out;
        right: -400px;
        opacity: 0;
    }

    .choice-locked,
    .choice-unlocked,
    .choice-selected {
        display: none;
        margin-right: 0.5rem;
        min-width: 1.2rem;
        text-align: center;
    }

    .choice-unlocked {
        display: inline-block;
    }

    &.locked, &:disabled, &.disabled {
        opacity: 1;
        background-color: #ddd;
        border-color: #ddd;
        color: #888;

        .choice-locked {
            display: inline-block;
        }

        .choice-unlocked {
            display: none;
        }
    }

    &.selected {
        visibility: hidden;
        position: relative;
        box-shadow: none;

        .choice-unlocked {
            display: none;
        }
        
        .choice-locked {
            display: none;
        }

        .choice-selected {
            display: inline-block;
        }
    }

    .choice-metadata {
        text-align: right;
        font-family: "Roboto", sans-serif;
    }
}

@media (max-width: 576px) {
    .btn {
        .choice-metadata {
            text-align: left;
        }
    }
}
