:host {
    width: 100%;
    transition: top .8s ease-in-out;
    position: relative;
    display: block;
}

.btn {
    text-align: left;
    white-space: normal;
    width: 100%;
    top: 0;
    right: 0;
    box-shadow: 0 1px 7px rgba(0,0,0,0.3);

    &.declined {
        position: relative;
        pointer-events: none;
        transition: opacity 1s ease-in-out, right 1s ease-in-out;
        right: -400px;
        opacity: 0;
    }

    .choice-locked,
    .choice-unlocked,
    .choice-selected {
        display: none;
        margin-right: 1rem;
        min-width: 1rem;
        text-align: center;
    }

    .choice-unlocked {
        display: inline-block;
    }

    &.locked, &:disabled, &.disabled {
        opacity: 1;
        background-color: #ddd;
        border-color: #ddd;
        color: #888;

        .choice-locked {
            display: inline-block;
        }

        .choice-unlocked {
            display: none;
        }
    }

    &.selected {
        visibility: hidden;
        position: relative;
        box-shadow: none;

        .choice-unlocked {
            display: none;
        }
        
        .choice-locked {
            display: none;
        }

        .choice-selected {
            display: inline-block;
        }
    }

    .choice-metadata {
        text-align: right;
        padding-left: 3.25rem;
    }
}

@media (max-width: 576px) {
    .btn {
        .choice-metadata {
            text-align: left;
        }
    }
}
