/* Bootstrap overrides */

$theme-colors: (
  "primary": #f34567,
);

@import "./variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap";

/* Global styles */

html {
    overflow-x: hidden;
}
body {
    height: 100%;
    overflow-y: scroll;
    background: #f1f1f1;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}

.btn-tab {
    padding: 0;
    display: flex;
    align-items: stretch;
    .btn-tab-icon, .btn-tab-content {
        padding: 0.6rem 0.9rem;
        border-radius: inherit;
    }
    .btn-tab-icon {
        flex: 0 0 auto;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        border-color: inherit !important;
        align-items: center;
        justify-content: center;
        min-width: 2.6rem;
        text-align: center !important;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-color: rgba(0,0,0,0.1);
    }
    .btn-tab-content {
        flex-grow: 1;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &[class^=btn-outline], &.btn-outline-secondary {
        .btn-tab-icon {
            background-color: transparent;
            border-right: solid 1px;
        }
    }
}

.btn {
    -webkit-overflow-scrolling: none;
    transition: opacity 0.15s ease-in-out, 
                color 0.15s ease-in-out, 
                background-color 0.15s ease-in-out, 
                border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
}
@media (min-width: 576px) {
    .container {
        max-width: 800px;
    }
}

/*
.btn {
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
[class^=btn-group] {
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    border-radius: 4px;
    .btn {
        box-shadow: none;
    }
}
*/
/*
[class^=btn] {
    &:disabled, &.disabled, &[disabled] {
        background-color: #aaa;
        border-color: #aaa;
    }
}
[class^=btn-outline] {
    &:disabled, &.disabled, &[disabled] {
        background-color: transparent;
        border-color: #aaa;
    }
}
*/