<div class="section" id="{{segment.id}}">
  <div class="section-inner">
    <div *ngFor="let paragraph of segment.paragraphs; let i = index" [class.first]="i===0" [ngSwitch]="paragraph.type">
      <div *ngSwitchCase="1">
        <div class="speaker paragraph" [innerHTML]="paragraph.options.speaker"></div>
        <div class="dialogue paragraph" [innerHTML]="paragraph.text"></div>
      </div>
      <p *ngSwitchDefault class="paragraph" [innerHTML]="paragraph.text"></p> 
    </div>
  </div>
</div>