@import "../../custom.scss";

:host {
    display: block;
    background-color: theme-color("base");
    color: rgba(color-yiq(theme-color("base")),0.95);
    overflow-y: hidden;
    box-sizing: content-box;
    z-index: 9;
    box-shadow: none;
    will-change: transform;
    transition: border-radius .35s ease-in-out 0s, box-shadow .35s ease-in-out, opacity .35s ease-in-out, background-color .35s ease-in-out;
    border-top: dashed 1px transparent;
    border-radius: $border-radius;
    font-family: $prose-font;
    font-size: $desktop-font-size;
    line-height: 1.5em;

    @media (max-width: 576px) {
        font-size: $mobile-font-size;
        line-height: 1.4em;
    }

    &:not(#latest) {
        &.active {
            .section-inner {
                opacity: 0.75;
            }
        }
    }

    ::ng-deep .highlighted {
        color: theme-color("muted");
        margin-bottom: 1rem;
    }
    
    &:not(.ingrained) {
        box-shadow: none;
        opacity: 0;
        transform: translateY(100px);
    }

    &.ingrained {
        background-color: transparent;
        box-shadow: none;
        opacity: 1;
        transform: translateY(0px);
    }
    
    &.active {
        &:not(.moving) {
            box-shadow: none;
            &:not(:first-child) {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
        opacity: 1;
        .section-inner {
            opacity: 1;
        }
    }
}

.section-inner {
    transition: opacity .8s ease-in-out 0.1s;
    opacity: 0;
    padding: 0 1in 0 1.5in;
    @media (max-width: 576px) {
        padding: $horizontal-space-mobile;
    }
}

p {
    margin-top: 1rem;
}

.paragraph {
    margin-bottom: 1rem;
}

.first {
    .paragraph {
        margin-top: 0;
    }
}

.scene-heading {
    font-weight: 600;
    text-transform: uppercase;
}

.prefix {
    text-indent: -1.2rem;
}

.transition {
    text-align: right;
}

.speaker {
    margin-left: 2.2in;
    text-transform: uppercase;
    @media (max-width: 576px) {
        margin-left: 1.15in;
    }
}

.parenthetical {
    margin-left: 2.2in;
    @media (max-width: 576px) {
        margin-left: 0.5in;
    }
}

.dialogue {
    margin-left: 1in;
    margin-right: 20%;
    @media (max-width: 576px) {
        margin-left: 0;
    }
}