@import "../../custom.scss";

:host {
    display: block;
    background-color: theme-color("base");
    color: rgba(color-yiq(theme-color("base")),0.95);
    overflow-y: hidden;
    box-sizing: content-box;
    z-index: 9;
    box-shadow: 0 1px 7px transparent;
    transition: border-radius .35s ease-in-out 0s, background-color .35s ease-in-out;
    border-top: dashed 1px transparent;
    border-radius: $border-radius;
    font-family: $prose-font;
    font-size: $desktop-font-size;
    line-height: 1.5em;

    @media (max-width: 576px) {
        font-size: $mobile-font-size;
        line-height: 1.4em;
    }

    &:not(#latest) {
        &.active {
            .section-inner {
                opacity: 0.75;
            }
        }
    }

    ::ng-deep .highlighted {
        color: theme-color("muted");
        margin-bottom: 1rem;
    }

    .section-inner {
        transition: opacity .8s ease-in-out 0.1s;
        opacity: 0;
        padding: 1.9rem $horizontal-space;
        @media (max-width: 576px) {
            padding: $horizontal-space-mobile;
        }
    }
    
    &:not(.ingrained) {
        box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    }

    &.ingrained {
        background-color: transparent;
        box-shadow: 0 0 0 transparent;
    }
    
    &.active {
        &:not(.moving) {
            box-shadow: 0 0 0 transparent;
            &:not(:first-child) {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
        opacity: 1;
        .section-inner {
            opacity: 1;
        }
    }
}
.section {
    p {
        margin: 0;
        + p {
            margin-top: 1rem;
        }
    }
}